// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-orange: #d16023;
	--ion-color-orange-rgb: 209,96,35;
	--ion-color-orange-contrast: #000000;
	--ion-color-orange-contrast-rgb: 0,0,0;
	--ion-color-orange-shade: #b8541f;
	--ion-color-orange-tint: #d67039;
}

.ion-color-orange {
	--ion-color-base: var(--ion-color-orange);
	--ion-color-base-rgb: var(--ion-color-orange-rgb);
	--ion-color-contrast: var(--ion-color-orange-contrast);
	--ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
	--ion-color-shade: var(--ion-color-orange-shade);
	--ion-color-tint: var(--ion-color-orange-tint);
}